//Colors

$brand-color: #ff6c37;
$brand-blue: #9594d2;
$white: #fff;
$black: #000;

//Fonts
@font-face {
  font-family: "CoHealdineBold";
  src: url("../public/fonts/co_headline_w01_bold-webfont.woff2") format("woff2"),
    url("../public/fonts/co_headline_w01_bold-webfont.woff") format("woff");
  font-weight: normal;
  font-style: normal;
  font-display: block;
}

@font-face {
  font-family: "CoHealdineRegular";
  src: url("../public/fonts/co_headline_w01_regular-webfont.woff2")
      format("woff2"),
    url("../public/fonts/co_headline_w01_regular-webfont.woff") format("woff");
  font-weight: normal;
  font-style: normal;
  font-display: block;
}

$heading-font: CoHealdineBold, Arial, Helvetica Neue, sans-serif;
$body-font: CoHealdineRegular, Arial, Helvetica Neue, sans-serif;

//Fonts

// CSS
.home {
  .hero {
    background: $brand-color;

    h1 {
      font-size: 4rem;
      font-family: $heading-font;
      color: $white;
      text-shadow: #a84724 0px 4px 4px;
    }
    p {
      color: $white;
      font-size: 1rem;
      font-family: $body-font;
      @screen sm {
        font-size: 1.2rem;
      }
    }
    .highlight{
      //background: $white;
      //color: $black;
      padding: 2px 4px;
      
    }

    .emblem {
      @screen sm {
        height: 48vh;
      }
    }
  }

  .cta {
    background: $brand-color;
    color: $white;
    white-space: nowrap;
    p {
      font-size: 1rem;
      @screen sm {
        font-size: 1.2rem;
      }
    }
    .ctaBtn {
      background: $white;
      color: $black;
      height: 60px;
      line-height: 60px;
      padding: 0 48px;
      text-decoration: none;
      box-shadow: #cc562c 0px 4px 4px;
      transition: all 0.2s ease-out;
      text-transform: uppercase;
      font-size: 1rem;
      font-weight: bold;
      font-family: $heading-font;

      &:hover {
        box-shadow: #a84724 0px 8px 16px;
      }
      @screen sm {
        font-size: 1.26rem;
      }
    }
  }

  .services {
    position: relative;
    .service {
      * {
        transition: all 0.4s ease-in-out;
      }
      
      .thumb {

        img {
          width: 150px;
          height: 150px;
          object-fit: cover;
          @screen sm {
            width: 150px;
            height: 150px;
          }
        }

        .title {
          color: $white;
          h2 {
            font-family: $body-font;
            font-size: 1.2rem;
            letter-spacing: 1px;
          }
          
        }
      }

      // &:hover {
      //   .thumb {
      //     transform: scale(1.1);
      //   }
      // }
    }
  }

  .footer {
    background: $brand-blue;
  }
}
